<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>LODQ - SPARQL Query Interface</title>
	<link rel="stylesheet" href="lodq.css" type="text/css" />
</head>

<body>

<div id="header">
<div id="headerCNT">
<p><a href="index.html" title="Index"><span id="short">LiDaQ</span> <span id="full">Linked Open Data Query Processor</span></p></a>
</div>
</div>

<div id="menu">
<ul>
    <li class="main"><a href="query.html" title="Query">Query UI</a>
	</li>
    <li class="main"><a href="about.html" title="About">About</a></li>
</ul>
</div>


<div id="content">
<div id="contentCNT">
		<h1>About</h1>
    	The Linked Open Data Query Processor (LiDaQ) is a online service which allows users and agents to perform SPARQL queries over the Linked Data Web.
    	LiDaQ is an alternative implementation of the <a href="http://www4.wiwiss.fu-berlin.de/bizer/ng4j/semwebclient/">SemanticWebClient Library</a> and <a href="http://squin.sourceforge.net/">SQUIN</a>.
    	
    	
    	<h2>Implementation Details</h2>
    	In short, the current code base is available under the <a href="http://www.gnu.org/licenses/gpl.html" >GNU GPL v3</a> licence. 
    	
    	<ul>
    		<li><a href="http://code.google.com/p/ldspider/">LDSpider</a> - THE Linked Data crawler</li>
    		<li><a href="http://jena.sourceforge.net/ARQ/">ARQ</a> - A SPARQL Processor for Jena</li>
    	</ul>
    	
    	<h2>Involved People</h2>
    	The whole project benefits from many fruitful discussions with colleagues from DERI (NUIG, Ireland), KIT (University of Karlsruhe, Germany), MPI (University of Saarbr&uuml;cken, Germany) and the University of Ilmenau, Germany.
    	The current persons are continuously providing input for this project<ul>
    		<li><a href="http://www.deri.ie/about/team/member/j%FCrgen_umbrich/">J&uuml;rgen Umbrich</a> - Developer and main contact</li>
    		<li><a href="http://sw.deri.org/~aidanh/">Dr. Aidan Hogan</a></li>
    		<li><a href="http://harth.org/andreas/">Dr. Andreas Harth</a></li>
    		<li><a href="http://axel.deri.ie/">Dr. Axel Polleres</a> - Supervisor</li>
    	</ul>
	</div>
	</div>
<div id="footer">
<div id="footerCNT">
<p><span id="copy">Maintained by: <span id="name"><a href="http://www.deri.ie/about/team/member/j%FCrgen_umbrich/">juergen.umbrich</a></span> at <span id="rest"><a href="http://www.deri.ie/">deri.org</a></span></span></p>
<img id="deriLogo" src="deri-logo.jpg"></img><img id="deriLogo" src="nuig.jpg"></img><img src="kit.jpg"></img>
</div>
</div>
</body>
</html>
