<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>LODQ - SPARQL Query Interface</title>
	<link rel="stylesheet" href="lodq.css" type="text/css" />
</head>

<body>

<div id="header">
<div id="headerCNT">
<p><a href="index.html" title="Index"><span id="short">LiDaQ</span> <span id="full">Linked (Open) Data Query Processor</span></p></a>
</div>
</div>

<div id="menu">
<ul>
    <li class="main"><a href="query.html" title="Query">Query UI</a>
	</li>
    <li class="main"><a href="about.html" title="About">About</a></li>
</ul>
</div>


<div id="content">
<div id="contentCNT">
<div class="frame">
<h2>LODQ: Overview</h2>
<div class="frameCNT">
<p>Welcome to the Web interface of the <span class="bold">Li</span>nked (Open) <span class="bold">Da</span>ta <span class="bold">Q</span>uery porcessor (LiDaQ).<br />
A service which allows the execution SPARQL queries over the content of Web sources. 
The service is provided by a collaboration between the Digitial Enterprise Research Institute (<a href="http://www.deri.ie/">DERI</a>) and the Karlsruher Institute for Technologie (<a href="http://www.kit.edu/">KIT</a>) and hosted and maintained by the Semantic Web Search Engine (<a href="http://swse.deri.org/">SWSE</a>) Team.</p> 

<h2>Web Service</h2>
<p>
We provide an easy to use <a href="query.html">Query form</a> for our service.
The current implementation should be thread-safe and able to handle a couple of request in parallel with the current allocated hardware.
However, please bear in mind that this is a research project and that we have limited hardware resources and bandwidth - use the service with responsibility. 
 
</p>
<h2>Alpha Status</h2>
<p>The service is in an early alpha status and under continues development.
You will expect from time to time all certain behaviors of a prototypical Web service - this includes that our service 
<ul>
 <li>is not available or responsive (most likely cause: maintenance downtime or internal server errors);</li>
 <li>does not return any results, even if it should (most likely cause: code errors or problems with other Web servers);</li>
  <li>does not handle and communicate errors in the best possible way (most likely cause: implementation of server side error handling);</li>
  <li>is missing detailed documentation about the usage (most likely cause: guess ;)).</li>  
</ul> 
Please inform us using the contact provided in the footer if you experience some of the above mentioned cases or other strange behavior of the LiDaQ service .
</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footerCNT">
<p><span id="copy">Maintained by: <span id="name"><a href="http://www.deri.ie/about/team/member/j%FCrgen_umbrich/">juergen.umbrich</a></span> at <span id="rest"><a href="http://www.deri.ie/">deri.org</a></span></span></p>
<img id="deriLogo" src="deri-logo.jpg"></img><img id="deriLogo" src="nuig.jpg"></img></img><img src="kit.jpg"></img>
</div>
</div>
</body>
</html>
