/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
LiDaQ
*/

body{
		/*background-color: #9a9a9b;*/
}

#container{
	width: 980px;
	margin-left: auto;
	margin-right: auto;

}

a{
	color: #4a8358;
	text-decoration: none;
	text-shadow: #000000 0 1px 0;
	
}
a:hover{
	color: #222;
	text-shadow: #000000 0 1px 1px;
}

a:active{
	
}

#tmpl{
	margin: -8px 0 -30px 270px;
}
#tmplQuery{
           border: 1px solid #868686;
            outline: 0;
            width: 200px;
            box-shadow: #ccc 0px 0px 8px;
			text-align: center;
		/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#f3f3f3));*/	
}

.header
{
  position: relative;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
	padding: 1em 1.5em;
	margin-top: 20px;
	height: 70px;
}

.header:before, .header:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.header:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

 h1{
	border-radius: 4px;
   
    position: relative;
        color: #fff;
        padding: 5px 0;
        text-shadow: 0 1px rgba(0,0,0,.8);
        background: #5c5c5c;
        background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 2px 0 rgba(0,0,0,.3);
	font-variant: small-caps;
	text-indent: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 0 -35px 5px;
}

    h1:before, h1:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }

    h1:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #222;
        left: 0;
    }

    h1:after
    {
        border-width: 0 0 10px 10px;
        border-left-color: #222;
        right: 0;
    }
    
.ul{
	font-weight: bold;
	margin-left: 5px;
	text-shadow: #5c5c5c 0 0 0;
}
nav ul
{
	padding: 0;
	list-style: none;
	 width: 100%;
   -moz-border-radius: 8px;
   -khtml-border-radius: 8px;
   -webkit-border-radius: 8px;
   list-style: none;
   padding: 0;
   float: left;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 5px;
}

nav li
{
	float: right;

}
nav a
{
	
	
	color: #919191;
   float: left;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;
   
  -moz-border-radius: 5px
-webkit-border-radius: 5px;
border-radius: 5px;
		width: 80px;

	text-align: center;
}

nav a:hover, nav a:active
{
		color: #4c4c4c;

	  /*-moz-box-shadow: 0 0 3px #000 inset;
    -webkit-box-shadow: 0 0 3px #000 inset;
    box-shadow: 0 0 3px #000 inset;*/
	/*background-color: #e4e4e4;*/
}

h2{
	/*background-color: #5c5c5c;*/
	margin-left: -10px;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 16px;
	color: #969595;
	text-shadow: #fff 0 1px 1px;
	padding: 3px 3px 3px 10px;

	float: left;
	margin-right: 10px;
}


.box{
	/*height: 310px;*/
	
	 -- CSS3 - define rounded corners -- 
-webkit-border-radius: 10px;
-moz-border-radius: 10px; 
border-radius: 10px;
 
-webkit-box-shadow: 0px 0px 5px #bbb;
-moz-box-shadow: 0px 0px 5px #bbb; 
box-shadow:  2px px 5px #bbb;	

	background-color: #f3f3f3;
	padding: 10px;
	border: 1px solid #b2b3b5;

	height: 100px;
}

#queryForm{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 385px;
	width: 750px;
}
#debug{
	margin-top: 20px;	
	width: 605px;
	margin-left: auto;
	margin-right: auto;
}
#debug textarea{
	border-radius: 10px;
	width: 580px;
	background:#eee;
	-webkit-box-shadow: 0px 0px 5px #bbb;
	border-style: none;
}
textarea#query{
-webkit-box-shadow:inset 4px 4px 5px #bbb,1px 1px 3px #bbb;
	width: 580px;
	height: 200px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 10px;
	border-style: hidden;

}
.options{
		/* width: 70px; */
	height: 30px;
	background-color: #f9f9f9;
	 -webkit-box-shadow: 1px 1px 3px #bbb;
	 	border-radius: 5px;
	line-height: 30px;
	padding-left: 5px;
	border: 1px solid #ddd;
	margin-top: 8px;
	clear: left;
}

.left {
float: left;
}

.gwt-ListBox {
margin-top: 5px;
}
#execBtn{
 -webkit-box-shadow: 0px 0px 5px #bbb;
	/*gradient styles*/
		background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#fff), to(#ddd));
	background: -moz-linear-gradient(19% 75% 90deg,#1d1d1d, #4f4f4f);
 -webkit-box-shadow:inset -3px -3px 2px #bbb;
 
	/*border styles*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	width: 100px;
	margin-left: 305px;
	/*border-style: outset;*/
	height: 25px;
	border-style: none;
	border: 1px solid #ababab;
	text-shadow: #f3f3f3 1px 1px 1px;
	margin-top: 8px;
}
#execBtn:active{
 -webkit-box-shadow:inset 3px 3px 2px #bbb;
	/*gradient styles*/
 	background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#ccc), to(#eee));
	background: -moz-linear-gradient(19% 75% 90deg,#1d1d1d, #4f4f4f);

	/*border styles*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	width: 100px;
	margin-left: 305px;
	height: 25px;
	margin-top: 5px;
	border: 1px solid #ababab;
	color: #838383;
	text-shadow: #060606 0 0 0;
}

.tmpl{
	margin-left: 10px;
	clear: left;
}
.tmpl select{
	float: none;
	width: 200px;
}
.tmpl {
	width: 150px;
	float: left;
}

div.label 
{

	text-align: right;

	width: 70px;

}
div.about{
	float: none;
	height: 400px;
}
.about h2{
	float: left;
	clear: both;
	display: block;
	width: 100%;
}
.about ul{
	margin-left: 15px;
}
#format{
	color: #919191;
	float: none;
	padding-left: 60px;
}
.options select{
/* 	background-color: #f9f9f9; */
	width: 100px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}
#results{
	float: left;
	margin-left: auto;
	margin-right: auto;
}


table.fancy {
	-webkit-box-shadow: 1px 1px 5px #bbb;
	background: #f8f8f8;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align: center;
	width: 590px;

}

table.fancy tr:first-child  {
	padding:4px 10px;
	font-weight: bold;
	color: #727272;
	text-shadow: #fbfbfb 0 0 5px;
	border-bottom: 2px solid #bbb;

}
	
table.fancy td.th{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#eee));
		border-bottom: 2px solid #bbb;
		} 
		
table.fancy td{
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	border-bottom: 2px solid #ddd;
	overflow-y:hidden;
}	



	
/*#debug table tr.even td {background:#eee}*/

table.fancy tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px}
	
table.fancy tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px}

 
table.fancy tr:last-child td:first-child {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px}
	
table.fancy tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px}
	
.centered-block
{
margin-left: auto;
	margin-right: auto;
  margin-top: 20px;

}
.options td:first-child{
	width: 130px;
}
.hide{
	display: none;
}
.update{
	color: #2e6d45;
	}
.static{}
.live{color: #282491;}
.txt{
	margin-bottom: 5px;
	/*background-color: #5c5c5c;*/
	margin-left: -10px;
	margin-right: -10px;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 14px;
	color: #555;
	text-shadow: #fffbfe 0 2px 0;
	padding: 3px 3px 3px 10px;
	
}

#footer{
	height: 40px;
	margin-top: 20px;
	 -moz-border-radius: 5px;
  border-radius: 4px;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
	margin-top: 20px;
	  background: #ddd;
	padding: 10px 1.5em;
	float: none;
	display: block;
}

#footer img{
	height: 40px;
	padding: 0;
	margin: 0;
	float: right;
}
#copy{
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 350px;
}
#img{

	float: right;
	margin-right: -60px;
}

#about{
	margin-top: 40px;
	width: 600px;
	text-align: justify;
	margin-left: 150px;
}
#about p{
	clear: left;
}
	
#about ul{
	list-style-type: square;
	margin-left: 30px;

}